$blueAlpine: #245e97;
$lato: "Lato", sans-serif;
$jost: "Jost", sans-serif;
$playfair: "Playfair Display", serif;

#navbar {
  background-color: $blueAlpine;
}

#logo {
  width: 7.5rem;
}

.vertical-line {
  height: 16px;
  width: 1px;
  background-color: white;
}

a {
  font-family: $lato;
  font-size: 13px;
}
