@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$blueAlpine: #245e97;
$lato: 'Lato', sans-serif;

#navbar{
    background-color: $blueAlpine;
}

#logo{
    width: 7.5rem;
}

.vertical-line{
    height: 16px;
    width: 1px;
    background-color: white;
}

a{
    font-family: $lato;
    font-size: 13px;
}