<div class="bg-slate-50 overflow-hidden">
    <div id="slider" class="w-1/2 mx-auto flex justify-center relative">
        
        <div id="card" class="max-w-lg overflow-hidden shadow-lg mt-12 bg text-white bg-opacity-80 bg-gray-600 absolute translate-x-[-12vw]">
            <div class="px-6 py-4">
              <div id="card-header" class="font-bold text-3xl mb-4 text-playfair">Buid Your Own Alpine</div>
              <p id="card-text" class="text-white text-base text-playfair">
                With artificial intelligence, groundbreaking transparent-hood technology and intuitive design, it's all new
                Alpine you've never seen before
                <br><br>
                Choose between Your favorite Model and get started below
              </p>
              <button
              (click)="slideToSelect()"
              class="mt-6 bg-transparent hover:bg-indigo-500 text-white font-bold hover:text-white py-2 px-4 border border-white hover:border-transparent lato">
              Get Started  <span class="cursor-pointer mx-2 font-light"><i class="fa-solid fa-chevron-down"></i></span>
            </button>
            </div>

          </div>
        <img class="object-fill" [src]="slides[currentIndex].url" [alt]="slides[currentIndex].title"
            [ngClass]="{ 'leaving': leave, 'coming': come }">
    </div>
</div>

<section id="select" class="mb-8">
    <div class="container mx-auto flex justify-center flex-wrap py-8">
        <h1 class="text-2xl font-bold text-gray-600">Models</h1>
    </div>
<div *ngFor="let car of configuratorData.cars; let i = index" id="models" class="container mx-auto flex justify-center flex-wrap py-5">
    <div  id="model-col" class="w-1/5 flex-col items-center justify-center">
        <h3 class="text-jost flex justify-center font-medium text-gray-600">{{ car.version.name | uppercase}}</h3>
        <hr>
        <img [src]="car.version.version_photo" alt="pure">
    </div>
    <div id="model-col" class="w-1/5 flex-col items-center justify-center">
        <h3 class="text-jost flex justify-center font-medium text-gray-600">{{ car.version.price | currency:'USD':'symbol':'1.0-2' }} MSRP*</h3>
        <hr>
        <div class="flex flex-col items-center py-10">
            <p class="text-jost py-1"> {{ car.features.acceleration }} sec</p>
            <p class="text-jost py-1">Acceleration</p>
            <p class="text-jost py-1">0-60mph</p>
        </div>
    </div>
    <div id="model-col" class="w-1/5">
        <h3 class="text-jost flex justify-center font-medium text-gray-600">{{ car.features.max_speed }} km/h MAX-SPEED</h3>
        <hr>
        <div class="flex flex-col items-center py-10">
            <p class="text-jost py-1">{{ car.features.max_power }} hp</p>
            <p class="text-jost py-1">Power</p>
            <p class="text-jost py-1">@ 5,800 rpm</p>
        </div>
    </div>
    <div id="model-col" class="w-1/5">
        <h3 class="text-jost flex justify-center font-medium text-gray-600">{{ car.features.transmission | uppercase }}</h3>
        <hr>
        <div class="flex flex-col items-center py-10">
            <p class="text-jost py-1">{{ car.features.torque }} lb-ft</p>
            <p class="text-jost py-1">Torque</p>
            <p class="text-jost py-1">@ 2000 - 3,200 rpm</p>
        </div>
    </div>
    <div id="model-col" class="w-1/5">
        <h3 class="text-jost flex justify-center font-medium text-gray-600"><span
                class="text-jost font-light text-gray-600">Engine:</span>{{ car.features.engine | titlecase }}</h3>
        <hr>
        <div class="flex flex-col items-center py-16">
            <button (click)="selectVersion(car)" class="blue text-white font-medium py-2 px-4 me-6 lato">
                Build
              </button>
        </div>
    </div>
</div>
</section>