$blueAlpine: #245e97;
$abyss: #22427c;
$lato: "Lato", sans-serif;
$jost: "Jost", sans-serif;
$playfair: "Playfair Display", serif;

#slider {
    width: 100vw;
}
#select{
    overflow: hidden;
}

.text-playfair {
    font-family: $playfair;
}
.text-jost {
    font-family: $jost;
}
.blue {
    background-color: $blueAlpine;

    &:hover {
        background-color: $abyss;
        transition: 0.2s ease-in;
    }
}
.leaving {
    animation: leave 0.3s;
}
.coming {
    animation: come 0.3s;
}

@keyframes leave {
    0% {
        opacity: 0.9;
    }

    25% {
        opacity: 0.8;

    }

    50% {
        opacity: 0.7;

    }

    75% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.5;
    }
}
@keyframes come {
    0% {
        opacity: 0.5;
    }

    25% {
        opacity: 0.6;

    }

    50% {
        opacity: 0.7;

    }

    75% {
        opacity: 0.85;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 767px) {

    #left,
    #right {
        display: none;
    }

    #slider {
        width: 100vw;
    }

    #models {
        flex-direction: column;
    }

    #model-col {
        width: 100%;
    }

    button {
        width: 50vw;
    }

    #card{
        transform: translateX(0);
    }
}