$blueAlpine: #245e97;
$lato: "Lato", sans-serif;
$jost: "Jost", sans-serif;
$playfair: "Playfair Display", serif;

.text-playfair {
  font-family: $playfair;
}
.text-lato {
  font-family: $lato;
}
.text-jost {
  font-family: $jost;
}