<section
  class="grid h-screen w-full grid-cols-1  bg-slate-200 md:grid-cols-1 bg-gradient-to-r from-zinc-900 to-gray-900">

  <div class="flex flex-col justify-between bg-car bg-no-repeat bg-fixed bg-cover bg-right md:bg-center ">

    <div id="card" class="max-w-lg overflow-hidden shadow-lg ms-44 mt-16 bg text-white bg-opacity-80 bg-gray-600">
      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-4 text-playfair">Alpine, reimagined</div>
        <p class="text-white text-base text-playfair">
          With artificial intelligence, groundbreaking transparent-hood technology and intuitive design, it's all new
          Alpine you've never seen before
        </p>
      </div>
      <div class="px-6 pt-4 pb-3">
        <button class="blue text-white font-medium py-2 px-4 me-6 lato">
          Explore
        </button>
        <button
          class="bg-transparent hover:bg-indigo-500 text-white font-bold hover:text-white py-2 px-4 border border-white hover:border-transparent lato">
          Build Your Own
        </button>
      </div>
    </div>

  </div>

</section>

<section class=" w-5/6 m-auto mt-28 grid grid-col-1 gap-x-3 gap-y-10 md:grid-cols-2 max-w-6xl items-center">
  <div class="py-3 px-2">
    <div class="flex">
      <h1 class="text-5xl mb-8 text-playfair">New Alpine A <span class="font-serif"> 110 </span> </h1><span>®</span>
    </div>
    <h2 class="text-3xl mb-4 text-playfair">Behold The Beauty. Feel the ferocity</h2>
    <p class="text-playfair">A perfect blend of versality, luxury and pure performance <br>
      A competitive spirit combined with performance <br>
      A110 takes its styling cues from the legendary Berlinette and combines them with modern design features that
      enhance its aerodynamics and create an immediate wow effect.
    </p>
  </div>
  <div class="py-3 px-2">
    <img src="../../../assets/images/homepage/A110/Presentation_desktop-1.png">
  </div>
</section>

<section
  class="w-full bg-lights md:py-52 py-28 md:bg-cover md:bg-center bg-contain mt-20 border   bg-fixed bg-no-repeat ">
</section>

<section class=" flex flex-col justify-between bg-video bg-no-repeat bg-cover bg-right md:bg-center bg-opacity-50 ">

  <div id="card-video"
    class="max-w-lg overflow-hidden shadow-lg ms-44 mt-24 bg text-white bg-opacity-80 bg-gray-800 z-10">
    <div class="px-6 py-4">
      <div class="font-bold text-3xl mb-4 text-playfair">Chic and Sporty</div>
      <p class="text-white text-base text-playfair">
        With its central ridges and hollowed-out sides, A110 proudly displays its kinship with the Berlinette. Drawn in
        a single stroke, the design effortlessly underpins the Alpine heritage
      </p>
    </div>
    <div class="px-6 pt-4 pb-3">
      <button class="blue text-white font-medium py-2 px-4 me-6 lato">
        Engines
      </button>
      <button
        class="bg-transparent hover:bg-indigo-500 text-white font-bold hover:text-white py-2 px-4 border border-white hover:border-transparent lato">
        Build Your Own
      </button>
    </div>
  </div>

  <video class="bg-video__content" autoplay muted loop>
    <source src="../../../assets/videos/Alpine-Milan-HomePage-1680x951-950-non-possible-v3-12072021.mp4"
      type="video/mp4">
  </video>
</section>

<div class="container w-100 my-10">
  <hr>
</div>

<section id="tools" class="my-5">
  <div class="container w-100 text-center pt-5 pb-10 mb-5">
      <h1 class="text-3xl font-bold text-gray-600">Shopping Tools</h1>
  </div>
  <div class="container flex justify-center">
      <div class="col-8 flex">

          <a href="#">
              <div id="card-1" class="w-48 h-96 bg-white border mx-4 ">
                  <div id="link" class="p-5 flex flex-col items-center">
                      <i class="fa-solid fa-car text-white"></i>
                      <a href="#"
                          class="inline-flex items-center px-3 py-2 text-base font-bold text-center text-white">
                          ALL VEHICLES
                      </a>
                  </div>
              </div>
          </a>

          <a href="#">
              <div id="card-2" class="w-48 h-96 bg-white border mx-4 ">
                  <div class="p-5 flex flex-col items-center">
                      <i class="fa-solid fa-gears text-white"></i>
                      <a href="#" class="inline-flex items-center py-2 text-base font-bold text-center text-white">
                          BUILD YOUR OWN
                      </a>
                  </div>
              </div>
          </a>

          <a href="#">
              <div id="card-3" class="w-48 h-96 bg-white border mx-4 ">
                  <div class="p-5 flex flex-col items-center text-white">
                      <i class="fa-solid fa-gift"></i>

                      <a href="#"
                          class="inline-flex items-center px-3 py-2 text-base font-bold text-center text-white">
                          SPECIAL OFFERS
                      </a>
                  </div>
              </div>
          </a>

          <a href="#">
              <div id="card-4" class="w-48 h-96 bg-white border mx-4 ">
                  <div class="p-5 flex flex-col items-center">
                      <i class="fa-solid fa-screwdriver-wrench text-white"></i>
                      <a href="#" class="inline-flex items-center py-2 text-base font-bold text-center text-white">
                          FIND MY DEALER
                      </a>
                  </div>
              </div>
          </a>

      </div>
  </div>

</section>
<div class="container w-100 my-10">
  <hr>
</div>